@import url(https://fonts.google.com/noto/specimen/Noto+Serif?query=noto+serif);
@import url(https://fonts.google.com/specimen/Playfair+Display?query=playf);
@import url(https://fonts.google.com/specimen/Source+Sans+Pro?query=source+sans+pro);
@import url(https://fonts.google.com/specimen/Kanit?preview.text=MENU&preview.text_type=custom&category=Sans+Serif,Display,Handwriting,Monospace);

:root{
  --primary-color: #8e7259;
  --background-color: #eedcca;
  --dark-color: #3C2317;
} 

html{
  font-size: 62.5%;
  font-family: 'noto', serif;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 120rem;
  margin: 0 auto;
}

header
.container-hero{
  background-color: var(--primary-color);
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.customer-support{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.customer-support i{
  font-size: 5rem;
}

.content.customer-support{
  display: flex;
  flex-direction: column;
}

.container-hero i{
  font-size: 5rem;
}

.container-logo{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container-logo i{
  font-size: 3rem;
}

.container-logo h1 a{
  text-decoration: none;
  color: var(--dark-color);
  font-size: 4rem;
  letter-spacing: -1px;
 }
 
 .container-logo img{
 vertical-align: middle;
 width: 400px;
 height: 120px;
}


.container-user{
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.container-user{
  font-size: 3rem;
  color: var(--primary-color);
  padding-right: 2.5rem;
  border-right: 1px solid var(--background-color);
}

body{
  margin: 0px;
  background-color: var(--background-color);
}


.container-navbar{
  background-color: #bead9d;
  text-align: center;
  align-content: space-around;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.navbar{
  display: inline-flex;
}

.container-navbar i{
  font-size: 2.7rem;
  justify-content: center;
  padding-right: 5%;
}

.menu{
  display: flex;
  gap: 4rem;
}

.menu li{
  list-style: none;
  align-content: space-around;
  margin: 1px;
}

.menu a{
  text-decoration: none;
  font-size: 2rem;
  color: #594029;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.menu a::after{
  content: '';
  width: 1.5rem;
  height: 1px;
  background-color: #C8B6A6;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all .3s ease;
}

.menu a:hover::after{
  opacity: 1;
}
.menu a:hover{
  color: #99826e;
}

.search-form{
  position: relative;
  display: flex;
  align-items: end;
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  background-color: whitesmoke;
  height: 4.4rem;
  overflow: hidden;
}

.search-form input{
  outline: none;
  font-family: inherit;
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0.2rem;
  color: #777;
  cursor: pointer;
}

.search-form input::-webkit-search-cancel-button{
  appearance: none;
}

.search-form .btn-search{
  border: none;
  background-color: var(--primary-color);
  display: flex;
  height: 100%;
  padding: 1rem;
}

p{
  font-size: 25px;
  font-family: 'noto', serif, bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #3C2317;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

CARROUSEL

* {box-sizing: border-box}
body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(74, 38, 2, 0.8);
}

/* Caption text */
.text {
  color: #f8e7d0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #8e7259;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

